<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body><center>
    <style>
        body {
        background-image: url("pizzabackground.jpg");
        background-color: #cccccc;
        }   
    </style>
    <h1><center> Hello Chef! </center></h1>

<div class='container'>


        <form method="post">
        <input type="submit" value="Create_Pizza" name="CPizza"/>
        <input  type="submit" value="Delete_Pizzas" name="DPizza"/>
        </form>


</div>
        <table border="1">
            <thead><center>
                <th>Pizza Number</th>
                <th>Toppings</th>
                <th>Sauce</th>
            </center></thead>
            <tr>
                <td>1</td>
                <td>{{tlist}}</td>
                <td>{{slist1}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>{{tlist2}}</td>
                <td>{{slist2}}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>{{tlist3}}</td>
                <td>{{slist3}}</td>
            </tr>
        </table>

        <p> Man those pizzas look good! </p>

        <a href= />Return To Story Select </a>
    </center></body>
</html>
