<!doctype html>
<html>
<head>

    <title>Home Page</title>
    </head>
    <style> 
    body {
        background-image: url("pizzabackground.jpg");
        background-color: #cccccc;
    }   
    </style>
    <body background="pizzabackground.jpg"><center>
        <h1><center>Hello, please choose your story!</center></h1>
        <a href= /owner>Pizzaria Manager</a><h1></h1> <a href= /chef> Pizza Chef </a>

        <p> <b>Make sure you select toppings as a manager before acting as the chef, or it may cause issues!</b> </p>


    </center></body>
</html