<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
        <style>
        body {
        background-image: url("pizzabackground.jpg");
        background-color: #cccccc;
        }   
        </style>
    <body><center>
    <h1><center> Hello Manager! </center></h1>

<div class='container'>


        <form method="post">
        <input type="submit" value="Add_Topping" name="NTopping"/>
        <input  type="submit" value="Delete_Topping" name="DTopping"/>
        </form>

    <h3> List of available toppings: </h3>
        <p> {{value}} </p>
        <p> {{value2}} </p>
        <p> {{value3}} </p>

</div>  
    <a href= />Return To Story Select </a>
    </center></body>
</html>