<html>
    <style>
        body {
        background-image: url("pizzabackground.jpg");
        background-color: #cccccc;
        }   
    </style>
    <form method="post">
    <h2>Pizza1:</h>
    <h3>Toppings:</h3>
        <input type="radio" value="{{value}}" name="opt" id='option1' >{{value}}</radio>
        <input type="radio" value="{{value2}}" name="opt" id='option2' >{{value2}}</radio>
        <input type="radio" value="{{value3}}" name="opt" id='option3' >{{value3}}</radio>
    <h3>Sauce:</h3>
        <input type="radio" value="Red" name="opt0">Red</radio>
        <input type="radio" value="White" name="opt0">White</radio>

    <hr></hr>
    <h2>Pizza2:</h2>
    <h3>Toppings:</h3>
        <input type="radio" value="{{value}}" name="opt2" id='2option1' >{{value}}</radio>
        <input type="radio" value="{{value2}}" name="opt2" id='2option2' >{{value2}}</radio>
        <input type="radio" value="{{value3}}" name="opt2" id='2option3' >{{value3}}</radio>
    <h3>Sauce:</h3>
        <input type="radio" value="Red" name="2opt0">Red</radio>
        <input type="radio" value="White" name="2opt0">White</radio>

    <hr></hr>
    <h2>Pizza3:</h2>
    <h3>Toppings:</h3>
        <input type="radio" value="{{value}}" name="opt3" id='3option1' >{{value}}</radio>
        <input type="radio" value="{{value2}}" name="opt3" id='3option2' >{{value2}}</radio>
        <input type="radio" value="{{value3}}" name="opt3" id='3option3' >{{value3}}</radio>
    <h3>Sauce:</h3>
        <input type="radio" value="Red" name="3opt0">Red</radio>
        <input type="radio" value="White" name="3opt0">White</radio>

        <input type="submit"></input>
    </form>
</html>